language: python
python:
  - "2.5"
  - "2.6"
  - "2.7"
before_install:
  - sudo apt-get update
  - sudo apt-get install libcurl4-gnutls-dev librtmp-dev
env:
  - HTTPLIB=requests
  - HTTPLIB=pycurl
  - HTTPLIB=
install:
  - pip install simplejson $HTTPLIB --use-mirrors
script: nosetests

matrix:
  exclude:
    # Requests doesn't support 2.5
    - python: "2.5"
      env: HTTPLIB=requests
