sudo: false
language: python
python:
  - "2.6"
  - "2.7"
  - "pypy"
  - "3.3"
  - "3.4"
  - "3.5"
cache:
  apt: true
  pip: false
env: PYCURL_SSL_LIBRARY=gnutls
addons:
  apt:
    packages:
      - libcurl4-gnutls-dev
      - librtmp-dev
install:
  - pip install unittest2 mock pycurl flake8
  - python setup.py clean --all
  - python setup.py install
script:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then flake8 stripe; fi
  - python -W always setup.py test
matrix:
  allow_failures:
    - python: pypy
