[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stripe = {path = ".",editable = true}

[dev-packages]
pytest = ">=4.4"
pytest-mock = ">=1.10"
pytest-xdist = ">=1.28"
pytest-cov = ">=2.6"
tox = "*"
"flake8" = "*"
coveralls = "*"

[requires]
python_version = "3.7"
