# cryptography 40.0.0 deprecates support for Python 3.6 and PyPy3 < 7.3.10
cryptography<40
twine
tox == 4.11.3
pyright == 1.1.336
black == 22.8.0
flake8
tox-gh-actions == 3.1.3

-r test-requirements.txt
