# These requirements must be installable on all our supported versions
pytest-cov >= 2.8.1, < 2.11.0
pytest-mock >= 2.0.0
pytest-asyncio >= 0.21.0
pytest-xdist >= 1.31.0
pytest >= 6.0.0
coverage >= 4.5.3, < 5
coveralls
